*{
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}

body
    {
        background: rgb(219, 226, 226);
    }

.row
    {
        background: #C0C0C0 ;
        border-radius: 30px;
        box-shadow: 12px 12px 22px grey;
    }
            
.row.no-pad 
    {
        margin-right:0;
        margin-left:0;
    }
            
.row.no-pad > [class*='col-'] 
    {
        padding-right:0;
        padding-left:0;
    }

img
    {
        border-top-left-radius: 30px;
        border-bottom-left-radius: 30px;
    }
    
.form-control
{
    box-shadow: 12px 12px 22px grey
    

}
            
.btn1:hover
    {
        background: white;
        border: 1px solid;
        color: black;
    }

.btn1
    {
        border: none;
        outline: none;
        border-radius: 10px;
        font-weight: bold;
        height: 50px;
        width: 100%;
        background-color: black;
        color: white;
        box-shadow: 12px 12px 22px grey
    }
